.gallery {
    border: 10px blue;
    margin: 1px;
    float: left;
    align: center;
    width: 150px;
}

.gallery:hover {
    border: 3px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    border: 10px blue;
    text-align: center;
}
